:root {
  /* Colors: */
  --navy-blue: #171E31;
  --oh-white: #E4E4E4;
  --midnight-blue: #526390;
  --dark-blue: #12192C;
  --pinkful: #E94469;
  --moon-blue: #8893AF;
  --midnight-blue-dark: #202d52;

  /* Font/text values */
  --font-family-nunito-sans: 'Nunito Sans';
  --font-style-bold: Bold;
  --font-style-regular: 'Regular';
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-94: 94px;
  --character-spacing-0: 0px;
  --line-spacing-19: 19px;
  --line-spacing-22: 22px;
  --line-spacing-30: 30px;
  --line-spacing-34: 34px;
  --line-spacing-41: 41px;
  --line-spacing-128: 128px;
}

body {
  font-family: var(--font-family-nunito-sans), 'Nunito Sans', sans-serif;
  background-color: var(--navy-blue);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-container, .App-row {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--midnight-blue-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--midnight-blue-dark);
  -webkit-box-shadow: inset 0 0 6px var(--midnight-blue-dark);
}


@media (max-width: 992px) {
  :root {
    --font-size-25: 20px;
    --font-size-94: 60px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-94: 40px;
    --font-size-30: 25px;
    --font-size-25: 18px;
  }
}
@media (max-width: 767px) {
  .App-row {
    flex-direction: column;
  }

  .App-container, .App-row {
    height: auto;
  }
}